.App {
  text-align: center;
}


.graph-container{
  margin-top: 2rem;
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sub{
  color:white
}

.text{
  color: black;
}


